:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #051923;
	--grey: #6B7280;
	--pink: #EC4899;
	--plight: #ff77bb;
	--yellow: #EFEA5A;
	--light: #EEE;
	--red: crimson;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--darkest);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: auto;
}

header h1{
    text-align: center; 
	font-style: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: 4rem;
    line-height: 0%;
	color: var(--yellow);
    text-shadow: 4px 4px 0px var(--pink);
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%; 
    margin-top: 2rem;
	margin-right: 1rem;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
   
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
    margin-top: 2rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--yellow));
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    text-fill-color: transparent;
	cursor: pointer;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit, .task .actions .timer {
	background-image: linear-gradient(to right, var(--pink), var(--yellow));
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: var(--red);
}

.timer-display{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 700;
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--grey);
	color: linear-gradient(to right, var(--pink), var(--yellow));
}

.timer-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--pink);
}
.timer-stop, .timer-start {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 0.45rem;
	margin-right: 0.25rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	justify-content: center;
	background-color: var(--grey);
	color: var(--plight);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.timer-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	justify-content: center;
	background-color: var(--darkest);
	color: var(--yellow);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}